.image-fon {
    background-image: url(../img/question_form_image.jfif);
    height: 900px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-width: 320px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 17px;
    line-height: 1.7;
    font-family: Lato,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 1;
}
#question_form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 570px;
    height: 700px;
    background-color: #fff;
    justify-content: center;
    margin:0 auto;
    

}

.input_question_form_item {
    display: flex;
    flex-direction: column;
    text-align: left;
  
}

#question-p {
    justify-content: center;
    text-align: center;
    color: #3a3c43;
    text-transform: none;
    word-wrap: break-word;
    position: relative;
    
}
#question_form-p {

}
.input_question_form {

}

#input-item {
   
}
#form-button-content {
 
}